
._4sp8{
	 background-color:#000 !important;
}
._1t2u{
	 border-left: 1px solid #fff!important;
}
._673w{
	 border-bottom: 1px solid #fff!important;
}
._36ic{
	 border-bottom: 1px solid #fff!important;
}
._4rv3{
	 border-top: 1px solid #fff!important;
}
._1li{
	 border-top: 1px solid #fff!important;
}
._ih3{
	 color: #fff!important;
}
._1htf{
	 color: #fff!important;
}
._1ht3{
	 color: #fff!important;
}
._1tqi{
	 color: #fff!important;
}
._1ht7{
	 color: #fff!important;
}
._3szq{
	 color: #fff!important;
}
._4_j5{
     color: #fff!important;
     border-left: 1px solid #fff!important;
}
._3oh-{
	 color: #fff!important;
}
._1ht6{
	 color: #fff!important;
}
._2v6o{
	 color: #fff!important;
}
._1lj0{
	 color: #fff!important;
}
._3eus{
	 color: #fff!important;
}
._4rv4{
	 background-color: #000!important;
}
._225b{
	 color: #fff!important;
}
._364g{
	 color: #fff!important;
}
._1enh{
	 color: #fff!important;
}
._hh7{
     background-color: #000!important;
     color:#fff!important;
     border: 1px solid #fff!important;
}
.nd._hh7{
     background-color: rgb(58, 58, 58)!important;
     color:#fff!important;
     border: 1px solid #fff!important;
}
._55r{
     background-color: #000!important;
     color:#fff!important;
     border: 1px solid #fff!important;
}